@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
body{
  
/* background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     /* background-image: url(https://img.wallpapersafari.com/desktop/1366/768/62/60/n1LIxD.jpg);
    background-repeat:round; */
    /* margin:44px;
    padding:4px; */
    /* display:flexbox;
    justify-self:auto; */

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}




#container{    /* height: 50vw */
    width: 50vw;
    /* background-color: white; */
    margin: 10px auto;
    /* border-radius: 00px; */
    padding: 5.6em;
    overflow: auto;
}

/* #container :hover{
color: cornflowerblue;
} */
form {
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
  border: 2px solid;
  font-family: 'Scheherazade New', serif,Times, serif;
  font-size:medium;
  
} 

form :hover{
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  /* background: linear-gradient(to right, #f2994a, #f2c94c);  */
}


h1 {
   
    text-align: center;
    /* border-bottom: #0f6d60 inset 5px; */
    font-family: 'Birthstone', cursive;
    font-size: 40px;
    color: rgba(245, 162, 8, 0.959);

  }

  h1  {
    margin: 0;
    padding: 0;
  }
  
  /* header p {
    padding: 0;
    margin-top: 5px;
    color: #000;
  } */
  
  input[type="submit"] {
    background: #02910e;
    border: 0;
    color: #fff;
    padding: 10px 12px;
    cursor: pointer;
  }
  
  [id=results] {
    margin-top: 1rem;
  }
  
  [id=results] h3 {
    background: #EEE4E1;
    padding: 10px;
    margin: 10px 0;
    color: rgba(228, 15, 192, 0.884);
  }